.text-biru {
    color: blue;
}

.warna {
    color: #094309;
}

.bg-linier {
    background-image: linear-gradient(yellowgreen, yellow);
}

.jarak-bawah {
    margin: 100px;
}

.text-besar {
    font-size: large;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.font-sans-serif {
    font-family: 'Arial Narrow', Arial, sans-serif;
}